body
{
    background-color: black; 
    color: white; 
    font-family: Courier; 
    text-align: center;
}
h1
{
    font-size: 300%
}
p
{
    border: 1px solid white;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 80px;
}