html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End css reset*/
body{
    background-color: rgb(14, 14, 14); 
    color: white; 
    font-family: Courier; 
    text-align: center;
    margin: 0;
    font-size: 16px; 
    height: 100%;
    box-sizing: border-box;
}
h1{
    font-size: 300%
}
p{
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.2em;
    margin: 10px 15% 0;
    font-family: helvetica;
}
.paragraph-header{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 0;
    border: 3px solid rgb(223, 223, 223);
    margin: 10px 10%;
    color: black;
    font-weight: bold;
    font-family: helvetica;
}
.text-segment{
    width: 80%;
    background: rgb(129, 129, 129);
    border-radius: 10px;
    padding: 10px 0;
    border: 3px solid rgb(151, 151, 151);
    margin: 10px 10%;
}
.image-segment{
    text-align: center;
    width: 38%;
    min-width: 420px;
    background: rgb(129, 129, 129);
    border-radius: 10px;
    padding: 10px 0;
    border: 3px solid rgb(151, 151, 151);
    margin: 10px 10%;
}
.round-image{
    border-radius: 10px;
    width: 95%;
}
.button{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2%;
    width: 100px;
    font-weight: bold;
    font-family: helvetica;
    border-radius: 10px;
}
.button:hover{
    background-color: #E1E1E1;
}
.button-selected{
    padding: 15px 60px;
}
.header{
    position: sticky;
    background-color: rgb(0, 0, 0); 
    width: 100%;
    top: 0;
    padding: 10px 0px 10px;
    margin: 0px 0px 20px;
}
.foreground{
    background-color: rgb(19, 19, 19); 
    width: 100%;
    padding: 10px 0px 10px;
    margin: 176px 0px 0px;
}
.footer{
    background-color: rgb(19, 19, 19); 
    width: 100%;
    padding: 10px 0px 10px;
    margin: 176px 0px 0px;
}
.fixed-background{
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    margin: 100px 0 0;
    z-index: -1;
}
.main-nav{
    position: sticky;
    margin: 10px 0px 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}